/*
	Colors:
		blue: 00AEF1
		yellow: FBE93E
*/

::selection {
	color: white;
	background: #EF9738;
}

body {
	/* font */
	font-family: Gill Sans, sans-serif;
	font-family: Tahoma, sans-serif;
	font-family: "Lucida Grande", sans-serif;
	font-family: Verdana, Geneva, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

textarea {
	resize: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
	padding: 4px;
	font-size: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 300px;
}

button {
	
	margin: 0px;
	padding: 3px 7px 3px 7px;
	
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	
	background: none;
	border: none;
}

/* Firefox and Opera specific styles */
@-moz-document url-prefix() {
	button {
		padding: 1px 5px 1px 5px;
	}
}

@media not screen and (1)
{
	button {
		padding: 4px 7px 4px 7px;
	}
}

/*******************************************************************************
*	Top Bar
*******************************************************************************/

header[id="top_bar"] {
	/* sizing */
	height: 40px;
	width: 100%;
	min-width: 500px;
	z-index: 100;
	
	/* positioning */
	position: fixed;
	top: 0;
	/* z-index: 100; */
	
	white-space:nowrap;
	
	/* spacing */
	padding-top: 0px;
	
	/* background */
	background: linear-gradient(top, #393939, #272727);
	background: -webkit-linear-gradient(top, #393939, #272727);
	background: -moz-linear-gradient(top, #393939, #272727);
	background: -o-linear-gradient(top, #393939, #272727);
	
	/* border */
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #12;
	
	/* shadow */
	box-shadow: 0px 0px 10px 3px #555;
}

	header[id="top_bar"] nav {
		display: inline-block;
		white-space:nowrap;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-family: Verdana, Geneva, sans-serif;
	}
	
	header[id="top_bar"] h1 {
		
		/* positioning */
		float: left;
		
		/* spacing */
		padding: 0px 20px 0px 10px;
		
		white-space:nowrap;
		
		/* font */
		font-family: Verdana, Geneva, sans-serif;
		line-height: 40px;
		font-size: 20px;
		font-weight: 900;
		letter-spacing: -1px;
		color: white;
		text-shadow: 0px -1px 1px #000;
		
		/* transform */
		transform:scaleY(.9);
		-ms-transform:scaleY(.9);
		-webkit-transform:scaleY(.9);
		-moz-transform:scaleY(.9);
		/* -o-transform:scaleY(.9); */
	}

	header[id="top_bar"] .divider {
		/* sizing */
		height: 40px;
		width: 1px;
		
		/* positioning */
		float: left;
		
		/* background */
		background: #272727;
		
		/* border */
		border-right-style: solid;
		border-width: 1px;
		border-color: #393939;
	}
	
		header[id="top_bar"] nav a {
			/* positioning */ 
			float: left;
			
			/* spacing */
			padding-right: 10px;
			padding-left: 10px;
			
			/* font */
			color: #DDD;
			font-size: 14px;
			line-height: 40px;
			letter-spacing: .5px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #333;
			white-space:nowrap;
		}
		
		header[id="top_bar"] nav a:hover {
			color: white;
			text-shadow: 0px -1px 1px black;
		}
		
		header[id="top_bar"] nav a.selected {
			/* sizing */
			height: 41px;
			
			/* spacing */
			padding-right: 9px;
			padding-left: 9px;
			
			/* font */
			color: white;
			
			/* input */
			cursor: hand;
			
			/* background */
			background: linear-gradient(bottom, #00AEF1 5%, #272727 5%);
			background: -webkit-linear-gradient(bottom, #00AEF1 5%, #272727 5%);
			background: -moz-linear-gradient(bottom, #00AEF1 5%, #272727 5%);
			background: -o-linear-gradient(bottom, #00AEF1 5%, #272727 5%);
			
			/* border */
			border-right-style: solid;
			border-left-style: solid;
			border-width: 1px;
			border-color: #393939;
		}

/*******************************************************************************
*	Auth Control
*******************************************************************************/
	
	.auth_control {
		display: table;
		min-width: 80px;
		position: absolute;
		top: 0px;
		right: 0px;
		white-space:nowrap;
		
		background: inherit;
		border: inherit;
	}
	
	.auth_control .button_shiv {
		display:table-cell; 
		vertical-align:middle;
	}
	
	.auth_control button {
		margin-left: 8px;
		margin-right: 8px;
	}
	
/*******************************************************************************
*	Page Content
*******************************************************************************/

#page_container {
	/* sizing */
	width: 960px;
	
	/* spacing */
	margin: 0px auto 0px auto;
}

#page_content {
	/* spacing */
	margin-top: 60px;
}

	#page_content p {
		margin-bottom: 13px;
	}
	
	#page_content button, #page_content input {
		font-size: 17px;
	}

	#page_content input {
		margin-bottom: 10px;
	}
	
	#page_content section > header {
		/* spacing */
		padding: 0px 5px 7px 5px;
		margin-bottom: 10px;
		
		/* border */
		border-bottom-style: solid;
		border-color: black;
		border-width: 1px;
	}
	
		#page_content section header h1 {
			line-height: 35px;
			vertical-align: middle;
			font-size: 25px;
			font-weight: 200;
		}
	
	#page_content section p {
		/* spacing */
		padding-left: 50px;
	}

section.form_error {
	color: red;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
}

.indent {
	padding: 0px 10px 0px 80px;
	
	border-bottom: solid;
	border-width: 1px;
	border-color: black;
}

/*******************************************************************************
*	Footer
*******************************************************************************/	
	
#page_container > footer {
	min-height: 50px;
	/* background: #FBE93E; */
}

/*******************************************************************************
*	Buttons
*******************************************************************************/

button.green {
	/* font */
	color: white;
	text-shadow: 0px -1px .5px #486133;
	
	/* background */
	background: linear-gradient(top, #78A850, #558031);
	background: -webkit-linear-gradient(top, #78A850, #558031);
	background: -moz-linear-gradient(top, #78A850, #558031);
	background: -o-linear-gradient(top, #78A850, #558031);
	
	/* border */
	border: solid;
	border-width: 1px;
	border-color: #2F5411;
	border-radius: 3px;
	
	/* shadow */
	box-shadow: 1px 1px 3px #23;
}

button.orange {
	/* font */
	color: white;
	text-shadow: 0px -1px .5px #B38740;
	
	/* background */
	background: linear-gradient(top, #F3B045, #EDA024);
	background: -webkit-linear-gradient(top, #F3B045, #EDA024);
	background: -moz-linear-gradient(top, #F3B045, #EDA024);
	background: -o-linear-gradient(top, #F3B045, #EDA024);
	
	/* border */
	border: solid;
	border-width: 1px;
	border-color: #9C650C;
	border-radius: 3px;
	
	/* shadow */
	box-shadow: 1px 1px 3px #DDD;
}

button.purple {
	/* font */
	color: white;
	text-shadow: 0px -1px .5px #6B3F78;
	
	/* background */
	background: linear-gradient(top, #A658BC, #883B9E);
	background: -webkit-linear-gradient(top, #A658BC, #883B9E);
	background: -moz-linear-gradient(top, #A658BC, #883B9E);
	background: -o-linear-gradient(top, #A658BC, #883B9E);
	
	/* border */
	border: solid;
	border-width: 1px;
	border-color: #561468;
	border-radius: 3px;
	
	/* shadow */
	box-shadow: 1px 1px 3px #23;
}

button.red {
	/* font */
	color: white;
	text-shadow: 0px -1px .5px #9C3D38;
	
	/* background */
	background: linear-gradient(top, #DE473F, #CE281F);
	background: -webkit-linear-gradient(top, #DE473F, #CE281F);
	background: -moz-linear-gradient(top, #DE473F, #CE281F);
	background: -o-linear-gradient(top, #DE473F, #CE281F);
	
	/* border */
	border: solid;
	border-width: 1px;
	border-color: #88110B;
	border-radius: 3px;
	
	/* shadow */
	box-shadow: 1px 1px 3px #23;
}

button:hover {
	box-shadow: 0px 0px 5px 0px #999;
}

header[id="top_bar"] button:hover {
	box-shadow: 0px 0px 10px 0px #222;
}

button:active, header[id="top_bar"] button:active {
	box-shadow: inset 0px 0px 7px 0px #555;
}

