#page_content section header {
	min-height: 35px;
}

	#page_content section header button {
		float: right;
		margin-top: 5px;
	}

.fb-comment-frame {
	width: 550px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#calculating_solution_message {
	width: 210px;
	margin: 15px auto 0 auto;
	font-size: 20px;
	line-height: 25px;
}
	
	#calculating_solution_message div {
		float: left;
		margin-right: 10px;
	}
	
	#calculating_solution_message img {
		margin-top: 8px;
	}

table {
	margin: 0 auto;	
}

table img {
	margin: 0 1px;	
}

td, th {
	padding: 7px 10px 7px 10px;
	text-align: center;
	vertical-align: middle;
}

th {
	font-weight: 500;
	font-size: 17px;
	font-family: Helvetica;
}

td.participant {
	text-align: right;
}

tr.alt {
	background: #EEE;
}

table button {
	font-size: 15px;
}

 