#page_content section header {
	min-height: 35px;
}

	#page_content section header button {
		float: right;
		margin-top: 5px;
	}
	
	
#report {
	width: 500px;
	padding-bottom: 10px;
}

#happy_meter {
	margin-bottom: 20px;
}

	#happy_meter h1 {
		margin-bottom: 10px;
		font-size: 20px;
		font-family: Helvetica;
		font-weight: 100;
	}
	
	#happy_meter #meter_background {
		width: 400px;
		height: 50px;

		/* background */
		background: linear-gradient(top, #8E97A4, #A4ACB8);
		background: -webkit-linear-gradient(top, #8E97A4, #A4ACB8);
		background: -moz-linear-gradient(top, #8E97A4, #A4ACB8);
		background: -o-linear-gradient(top, #8E97A4, #A4ACB8);
		
		border: solid;
		border-width: 1px;
		border-color: #333;
		border-bottom-color: #8E97A4;
		border-left-color: #8E97A4;
		border-radius: 3px;
		
		box-shadow: inset 0px 5px 10px -5px #333;
		
	}
	
	#happy_meter #numeric_value {
		float: right;
		padding-top: 10px;
		
		font-size: 30px;
		font-family: Helvetica;
		font-weight: 100;
	}
	
	#happy_meter #meter_value {
		width: 99.8%;
		height: 49px;
		
		/* background */
		background: #00AEF1;
		background: linear-gradient(top, #3EC5F8, #00AEF1);
		background: -webkit-linear-gradient(top, #3EC5F8, #00AEF1);
		background: -moz-linear-gradient(top, #3EC5F8, #00AEF1);
		background: -o-linear-gradient(top, #3EC5F8, #00AEF1);
		
		border: solid;
		border-width: 1px;
		border-bottom-width: 0px;
		border-color: #0091C8;
		border-top-color: #A6E4FB;
		border-left-color: #3EC5F8;
		border-radius: 3px;
		
		/* animation 
		transition: width 1s ease;
		-webkit-transition: width 1s ease;
		-moz-transition: width 1s ease;
		-o-transition: width 1s ease;
		
		transition-delay: .2s;
		-webkit-transition-delay: .2s;
		-moz-transition-delay: .2s;
		-o-transition-delay: .2s;
		*/
	}

	/* #happy_meter #meter_value:hover {
		width: 99.8%;
	} */
	

	#answer h1 {
		font-size: 30px;
		font-weight: 100;
	}

	#answer table {
		margin-left: 20px;
		margin-bottom: 20px;
		font-weight: 400;
	}
	
	#answer th, td {
		padding: 3px 15px 3px 15px;
	}
	
	#answer th {
		padding-bottom: 7px;
		/* border-bottom: solid;
		border-width: 1px;
		border-color: #AAA; */
		/* font-weight: 400; */
	}
	
	#answer tbody tr {
		/* background: #F2F2F2; */
	}
	
	#answer tbody tr.alt {
		background: #F5F5F5;
	}
	
	#answer tbody td {
		text-align: right;
	}
	
	#answer .center {
		text-align: center;
		font-weight: 100;
	}

#not_placed {
	margin-top: 20px;
	padding: 10px;
	background: #F5F5F5;
	
	/* border */
	border-left: solid;
	border-width: 1px;
	border-color: #AAA;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

	#not_placed h1 {
		margin-bottom: 7px;
		font-size: 20px;
		font-weight: 200;
		color: red;
	}

	#not_placed ul {
		margin-left: 20px;
		font-size: 15px;
		font-weight: 400;
	}